@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/7472e3285c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /*html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }*/
</style>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="~/img/20190505_133247.jpg" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2>Will Schultz</h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Eugene, Or</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>schultzw@my.lanecc.edu</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>808-679-7037</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <p>C#</p>

                        <p>JavaScript</p>

                        <p>Oracle 18C</p>

                        <p>PL/SQL</p>
                        <p>NodeJS</p>
                        <p>Git</p>
                        <p>SQL Server</p>
                        <p>ASP.NET</p>
                        <p>Java</p>
                        <p>Selenium</p>
                        <p>T-SQL</p>
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Developer Inter / Lane Communit College</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2019 - Jun 2020</h6>
                        <ul>
                            <li>Improved the security of legacy .NET applications by rewriting portions of them to use current industry best practices with regards to security</li>
                            <li>Organized the design and development with a mobile campus application.</li>
                            <li>Assisted with PL/SQL scripting, package development, and Argos report creation and adjustment.</li>
                            <li>Coded and debugged .NET web applications.</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>QA Tester / University of Oregon</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2018 - June 2020</h6>
                        <ul>
                            <li>Created test scripts using Selenium IDE and Selenium WebDriver to uncover and identify issues on CTL websites</li>
                            <li>Performed manual testing on CTL websites and educational browser-based games.</li>
                            <li>Identified, documented, and reported bugs using Jira.</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>English, Science, and Math Teacher / GGLC and Incheon National University</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2013 - Dec 2017</h6>
                        <ul>
                            <li>Devised and administered lessons through Microsoft PowerPoint, educational games, and other means.</li>
                            <li>Generated intellectually stimulating lessons while enhancing rote memorization and comprehension skills.</li>
                            <li>Established lesson plans and planned summer camp science programs.</li>
                        </ul>
                        <br>
                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Lane Community College</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018-2020</h6>
                        <p>Assocaite of Applied Science: Computer Programming </p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Lincoln University</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2004-2009</h6>
                        <p>Bachelor of Science: Enviormental Biogeoscience</p>
                        <hr>
                    </div>
                
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>



</body>
</html>
