
@{
    ViewData["Title"] = "Projects";
}

<h1>My Projects</h1>

<article class="card product-item">
    <a asp-action="ProductDetails" asp-route-id="@p.ProductId">
        <div class="card__image center">
            <img src="@p.ImgPath" class="" />
        </div>
        <div class="card__content">
            <p class="product__description freakshowText">
                @p.Title
            </p>
            <p class="product__description">
                $@p.Price
            </p>


        </div>
    </a>
</article>